.mainPageBanner {
  background-image: url("/foodBanner.avif");
  background-color: rgb(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  padding: 2.1rem;
  height: 20rem;
  text-align: center;
  color: #fff;
}

.mainPageBanner h1 {
  font-size: 2.5rem;
}

.inputContainer input:focus {
  outline: none;
}
.inputContainer {
  background-color: #fff;
  padding: 5px;
  margin: auto;
  width: 60%;
  border-radius: 0.3rem;
}
.selectInput,
.searchInput {
  height: 2.5rem;
  border: 0;
  padding-left: 1rem;
}
.selectInput {
  width: 35%;
}

.searchInput {
  width: 50%;
  border-left: 2px solid #ccc;
}

.locationsList {
  color: black;
  list-style-type: none;
  position: absolute;
  background-color: #fff;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  border: 1px solid #ccc;
  z-index: 7;
}
.locationsList li {
  width: 14rem;
  padding: 0.3rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.locationsList li:hover {
  background-color: rgba(127, 255, 212, 0.285);
}

.restoListContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}
.restoWrapper {
  width: 45%;
  background-color: rgba(255, 166, 0, 0.345);
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.758);
  border-radius: 5px;
  cursor: pointer;
  height: 14rem;
  position: relative;
  overflow: hidden;
}
.imgContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
}
.restoWrapper:hover {
  border: 1px solid gray;
}

.restoWrapper .restroHeading {
  font-size: 1.1rem;
}

.restoWrapper .restroHeading,
.restoWrapper .restroAddress {
  display: flex;
  margin-left: 1rem;
  justify-content: flex-start;
  gap: 0.7rem;
}
