body {
  background-color: rgb(50, 37, 61);
  color: #fff;
  margin: 0;
}
.loginBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.loginBtn {
  padding: 0.4rem 0.8rem;
  border: none;
  color: rgb(40, 128, 186);
  cursor: pointer;
  background-color: transparent;
}

.mainContainer {
  text-align: center;
}
