.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.header ul {
  display: flex;
  /* border: 1px solid red; */
  width: 80%;
  list-style-type: none;
  justify-content: flex-start;
  gap: 8rem;
}
a {
  text-decoration: none;
  color: #fff;
}

.shoppingCartIcon {
  width: 2rem;
  height: 2rem;
}
.cartIconLink {
  position: relative;
  /* border: 1px solid red; */
}

.cartQuenttity {
  position: absolute;
  top: -2.2rem;
  left: 0.7rem;
  background-color: black;
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
  z-index: -1;
}
